#div1 {
    width: 200px;
    height: 100px;
    background-color: lightblue; /* Zmien kolor na własny */
    display: inline-block; /* Pozwala divom być obok siebie */
    margin-right: 10px; /* Odstęp między divami */
}

#div2 {
    width: 200px;
    height: 100px;
    background-color: lightcoral; /* Zmien kolor na własny */
    display: inline-block; /* Pozwala divom być obok siebie */
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 10px 0;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

.back-arrow {
    display: inline-block;
    margin-bottom: 20px;
    font-size: 18px;
    text-decoration: none;
    color: #4CAF50;
}

.back-arrow:hover {
    text-decoration: underline;
}

.back-arrow::before {
    content: "←";
    margin-right: 5px;
}
